package ${package.Controller};

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.*;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import ${cfg.VOPackage}.${entity}VO;
import ${cfg.QOPackage}.${entity}QO;
import ${cfg.DTOPackage}.${entity}DTO;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;

import org.springframework.validation.annotation.Validated;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import javax.annotation.Resource;
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@Api(tags = "$!{table.comment}")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end
    @Resource
    private ${table.serviceName}  service;

    @PostMapping(value = "/getList")
    @ApiOperation("获取列表")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "current", value = "当前页 默认1", defaultValue = "1", dataType = "Integer", paramType = "query"),
            @ApiImplicitParam(name = "size", value = "每页显示数 默认10", defaultValue = "10", dataType = "Integer", paramType = "query")
    })
    public ResResult<PageResResult<${entity}VO>> getList(@RequestBody ${entity}QO query,
    @RequestParam(defaultValue = "1") Integer current,@RequestParam(defaultValue = "10") Integer size) {
            Map<String, Object> params = BeanUtil.beanToMap(query);

            Page<${entity}VO> page = new Page<>(current, size);
            List<${entity}VO> list = service.get${entity}VOListByParams(page, params);
            page.setRecords(list);

            return ResResultUtil.makePageRsp(page);
    }

    @GetMapping(value = "/{id}")
    @ApiOperation("通过主键获取信息[主键值 一般为id]")
    public ResResult<${entity}VO> getInfoById(@PathVariable(value = "id") @NotBlank String id) {
        ${entity}VO entity = service.getOne${entity}VOBy("id", id);

        return ResResultUtil.success(entity);
    }

    @PostMapping(value = "/edit")
    @ApiOperation("添加或编辑")
    public ResResult<Boolean> edit(@RequestBody @Validated ${entity}DTO dto) {
        ${entity} entity = new ${entity}();
        BeanUtil.copyProperties(dto, entity);

        return ResResultUtil.success(service.edit(entity));
    }

    @PostMapping(value = "/batchDeleteByIds")
    @ApiOperation("通过主键批量删除")
    public ResResult<Boolean> batchDeleteByUserIds(@RequestBody @NotNull List<String> idList) {
        return ResResultUtil.success(service.removeByIds(idList));
    }
}

#end