<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lylbp.project.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lylbp.project.entity.Admin">
        <!-- 管理员id -->
        <id column="admin_id" property="adminId"/>
        <!-- 登录账号 -->
        <result column="login_account" property="loginAccount"/>
        <!-- 真实名称 -->
        <result column="real_name" property="realName"/>
        <!-- 密码 -->
        <result column="pwd" property="pwd"/>
        <!-- 账号是否启用 -->
        <result column="is_enabled" property="isEnabled"/>
        <!-- 是否有效数据 -->
        <result column="is_valid" property="isValid"/>
        <!-- 创建人 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 更新人 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            t.admin_id,
            t.login_account,
            t.real_name,
            t.pwd,
            t.is_enabled,
            t.is_valid,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time
        </sql>

    <!-- 通用查询语句(数据库comment中含有?则不显示字段注释)) -->
    <sql id="Base_Where_List">

        <!-- 管理员id查询 -->
        <if test="params.containsKey('adminId')">
            AND t.admin_id = #{params.adminId}
        </if>


        <!-- 登录账号查询 -->
        <if test="params.loginAccount != null and params.loginAccount != ''">
            AND t.login_account = #{params.loginAccount}
        </if>

        <!-- 登录账号模糊查询 -->
        <if test="params.loginAccountLike != null and params.loginAccountLike != ''">
            AND t.login_account LIKE CONCAT('%', #{params.loginAccountLike}, '%')
        </if>


        <!-- 真实名称查询 -->
        <if test="params.realName != null and params.realName != ''">
            AND t.real_name = #{params.realName}
        </if>

        <!-- 真实名称模糊查询 -->
        <if test="params.realNameLike != null and params.realNameLike != ''">
            AND t.real_name LIKE CONCAT('%', #{params.realNameLike}, '%')
        </if>


        <!-- 密码查询 -->
        <if test="params.pwd != null and params.pwd != ''">
            AND t.pwd = #{params.pwd}
        </if>

        <!-- 密码模糊查询 -->
        <if test="params.pwdLike != null and params.pwdLike != ''">
            AND t.pwd LIKE CONCAT('%', #{params.pwdLike}, '%')
        </if>


        <!-- 账号是否启用查询 -->
        <if test="params.isEnabled != null and params.isEnabled != ''">
            AND t.is_enabled = #{params.isEnabled}
        </if>

        <!-- 账号是否启用模糊查询 -->
        <if test="params.isEnabledLike != null and params.isEnabledLike != ''">
            AND t.is_enabled LIKE CONCAT('%', #{params.isEnabledLike}, '%')
        </if>

        <!-- 创建人查询 -->
        <if test="params.createBy != null and params.createBy != ''">
            AND t.create_by = #{params.createBy}
        </if>

        <!-- 创建人模糊查询 -->
        <if test="params.createByLike != null and params.createByLike != ''">
            AND t.create_by LIKE CONCAT('%', #{params.createByLike}, '%')
        </if>


        <!-- 创建时间查询 -->
        <if test="params.createTime != null and params.createTime != ''">
            AND t.create_time = #{params.createTime}
        </if>


        <!-- 更新人查询 -->
        <if test="params.updateBy != null and params.updateBy != ''">
            AND t.update_by = #{params.updateBy}
        </if>

        <!-- 更新人模糊查询 -->
        <if test="params.updateByLike != null and params.updateByLike != ''">
            AND t.update_by LIKE CONCAT('%', #{params.updateByLike}, '%')
        </if>


        <!-- 更新时间查询 -->
        <if test="params.updateTime != null and params.updateTime != ''">
            AND t.update_time = #{params.updateTime}
        </if>

    </sql>

    <!-- 批量修改用户账号状态 -->
    <update id="batchUpdateIsEnabledByIds">
        UPDATE t_s_admin SET is_enabled = #{isEnabled}
        WHERE admin_id IN
        <if test="adminIdList != null">
            <foreach collection="adminIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <!-- AdminVO查询语句 -->
    <select id="queryAdminVOByParams" parameterType="java.util.Map" resultType="com.lylbp.project.vo.AdminVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_s_admin t
        <where>
            <!-- 删除状态查询 -->
            AND t.is_valid = 1
            <include refid="Base_Where_List"/>
        </where>
    </select>

    <!-- 用户分配权限查询 -->
    <select id="queryUserAssignPermissionList" resultType="com.lylbp.project.vo.PermissionVO">
        SELECT
        <include refid="com.lylbp.project.mapper.PermissionMapper.Base_Column_List"/>
        FROM t_rbac_permission t
        <where>
            AND t.is_valid = 1
            <!-- 是否分配查询 -->
            <if test="isAssign != null and isAssign != ''">
                <choose>
                    <when test="isAssign == 1">
                        AND EXISTS (SELECT 1 FROM t_rbac_role_permission rp WHERE rp.permission_id = t.permission_id
                        AND rp.is_valid = 1 AND EXISTS(SELECT 1 FROM t_rbac_admin_role ar where ar.role_id = rp.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId}))
                    </when>
                    <otherwise>
                        AND NOT EXISTS (SELECT 1 FROM t_rbac_role_permission rp WHERE rp.permission_id = t.permission_id
                        AND rp.is_valid = 1 AND EXISTS(SELECT 1 FROM t_rbac_admin_role ar where ar.role_id = rp.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId}))
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY t.permission_url
    </select>

    <!-- 用户分配角色查询 -->
    <select id="queryUserAssignRoleList" resultType="com.lylbp.project.vo.RoleVO">
        SELECT
        <include refid="com.lylbp.project.mapper.RoleMapper.Base_Column_List"/>
        FROM t_rbac_role t
        <where>
            AND t.is_valid = 1
            <!-- 是否分配查询 -->
            <if test="isAssign != null and isAssign != ''">
                <choose>
                    <when test="isAssign == 1">
                        AND EXISTS (SELECT 1 FROM t_rbac_admin_role ar WHERE ar.role_id = t.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId})
                    </when>
                    <otherwise>
                        AND NOT EXISTS (SELECT 1 FROM t_rbac_admin_role ar WHERE ar.role_id = t.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId})
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY t.role_name
    </select>

    <!-- 用户菜单查询 -->
    <select id="queryUserAssignMenuList" resultType="com.lylbp.project.vo.MenuVO">
        SELECT
        <include refid="com.lylbp.project.mapper.MenuMapper.Base_Column_List"/>
        FROM t_rbac_menu t
        <where>
            AND t.is_valid = 1
            <!-- 是否分配查询 -->
            <if test="isAssign != null and isAssign != ''">
                <choose>
                    <when test="isAssign == 1">
                        AND EXISTS (SELECT 1 FROM t_rbac_menu_role mr WHERE mr.menu_id = t.menu_id AND mr.is_valid = 1
                        AND EXISTS(SELECT ar.admin_id FROM t_rbac_admin_role ar WHERE ar.role_id = mr.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId} ))
                    </when>
                    <otherwise>
                        AND NOT EXISTS (SELECT 1 FROM t_rbac_menu_role mr WHERE mr.menu_id = t.menu_id AND
                        mr.is_valid =1
                        AND EXISTS(SELECT ar.admin_id FROM t_rbac_admin_role ar WHERE ar.role_id = mr.role_id
                        AND ar.is_valid = 1 AND ar.admin_id = #{adminId} ))
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY t.menu_url
    </select>
</mapper>
