<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lylbp.project.mapper.MenuRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lylbp.project.entity.MenuRole">
        <!-- 菜单与角色关系id -->
        <id column="menu_role_id" property="menuRoleId"/>
        <!-- 菜单id -->
        <result column="menu_id" property="menuId"/>
        <!-- 角色id -->
        <result column="role_id" property="roleId"/>
        <!-- 创建人 -->
        <result column="create_by" property="createBy"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 更新人 -->
        <result column="update_by" property="updateBy"/>
        <!-- 更新时间 -->
        <result column="update_time" property="updateTime"/>
        <!-- 是否有效数据 -->
        <result column="is_valid" property="isValid"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            t.menu_role_id,
            t.menu_id,
            t.role_id,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            t.is_valid
        </sql>

    <!-- 通用查询语句(数据库comment中含有?则不显示字段注释)) -->
    <sql id="Base_Where_List">

        <!-- 菜单与角色关系id查询 -->
        <if test="params.containsKey('menuRoleId')">
            AND t.menu_role_id = #{params.menuRoleId}
        </if>


        <!-- 菜单id查询 -->
        <if test="params.menuId != null and params.menuId != ''">
            AND t.menu_id = #{params.menuId}
        </if>

        <!-- 菜单id模糊查询 -->
        <if test="params.menuIdLike != null and params.menuIdLike != ''">
            AND t.menu_id LIKE CONCAT('%', #{params.menuIdLike}, '%')
        </if>


        <!-- 角色id查询 -->
        <if test="params.roleId != null and params.roleId != ''">
            AND t.role_id = #{params.roleId}
        </if>

        <!-- 角色id模糊查询 -->
        <if test="params.roleIdLike != null and params.roleIdLike != ''">
            AND t.role_id LIKE CONCAT('%', #{params.roleIdLike}, '%')
        </if>


        <!-- 创建人查询 -->
        <if test="params.createBy != null and params.createBy != ''">
            AND t.create_by = #{params.createBy}
        </if>

        <!-- 创建人模糊查询 -->
        <if test="params.createByLike != null and params.createByLike != ''">
            AND t.create_by LIKE CONCAT('%', #{params.createByLike}, '%')
        </if>


        <!-- 创建时间查询 -->
        <if test="params.createTime != null and params.createTime != ''">
            AND t.create_time = #{params.createTime}
        </if>


        <!-- 更新人查询 -->
        <if test="params.updateBy != null and params.updateBy != ''">
            AND t.update_by = #{params.updateBy}
        </if>

        <!-- 更新人模糊查询 -->
        <if test="params.updateByLike != null and params.updateByLike != ''">
            AND t.update_by LIKE CONCAT('%', #{params.updateByLike}, '%')
        </if>

        <!-- 更新时间查询 -->
        <if test="params.updateTime != null and params.updateTime != ''">
            AND t.update_time = #{params.updateTime}
        </if>


        <!-- 角色in查询 -->
        <if test="params.roleIdList != null and params.roleIdList.size() > 0">
            AND t.role_id IN
            <foreach collection="params.roleIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <!-- MenuRoleVO查询语句 -->
    <select id="queryMenuRoleVOByParams" parameterType="java.util.Map" resultType="com.lylbp.project.vo.MenuRoleVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_rbac_menu_role t
        <where>
            <!-- 删除状态查询 -->
            AND t.is_valid = 1
            <include refid="Base_Where_List"/>
        </where>
        ORDER BY t.create_time
    </select>

    <!-- 角色分配菜单查询 -->
    <select id="queryRoleAssignMenuList" resultType="com.lylbp.project.vo.MenuVO">
        SELECT
        <include refid="com.lylbp.project.mapper.MenuMapper.Base_Column_List"/>
        FROM t_rbac_menu t
        <where>
            AND t.is_valid = 1
            <!-- 是否分配查询 -->
            <if test="isAssign != null and isAssign != ''">
                <choose>
                    <when test="isAssign == 1">
                        AND EXISTS (SELECT 1 FROM t_rbac_menu_role mr WHERE mr.menu_id = t.menu_id
                        AND mr.is_valid = 1 AND mr.role_id = #{roleId})
                    </when>
                    <otherwise>
                        AND NOT EXISTS (SELECT 1 FROM t_rbac_menu_role mr WHERE mr.menu_id = t.menu_id
                        AND mr.is_valid = 1 AND mr.role_id = #{roleId})
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY t.menu_url
    </select>
</mapper>
